<h2>Anmeldung erfolgreich abgeschlossen</h2>

<p>
  Sie haben die folgenden Athleten angemeldet. Sie bekommen nach dem Anmeldeschluss
  (kurz vor dem Anlass) noch eine Bestätigung per Email.
  <br>
  Falls sie Änderungen vornehmen möchten kontaktieren sie bitte
  <a href="mailto:tomas.carnecky@gmail.com?subject=Schnellst Emmer 2016">Tomas Carnecky</a>.
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Jahrgang</th>
      <th>Geschlecht</th>
      <th>Strasse</th>
      <th>PLZ</th>
    </tr>
  </thead>


  <tbody>
    <% @athletes.order("id ASC").each do |athlete| %>
    <tr>
      <td><%= athlete.first_name %></td>
      <td><%= athlete.last_name %></td>
      <td><%= athlete.birth_cohort %></td>
      <td><%= athlete.sex_long %></td>
      <td><%= athlete.street %></td>
      <td><%= athlete.postcode %></td>
    </tr>
    <% end %>
  </tbody>
</table>
